name: Deploy to ECS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to ECR
        run: |
          aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 376142074274.dkr.ecr.us-east-1.amazonaws.com

      - name: Build Docker Image
        run: |
          docker build -t blue-app ./blue-app
          docker tag blue-app:latest 376142074274.dkr.ecr.us-east-1.amazonaws.com/blue-app:latest

      - name: Push to ECR
        run: |
          docker push 376142074274.dkr.ecr.us-east-1.amazonaws.com/blue-app:latest

      - name: Force ECS Deployment
        run: |
          aws ecs update-service \
            --cluster blue-green-cluster \
            --service blue-service \
            --force-new-deployment
